.rubik-distressed-regular {
    font-family: "Rubik Distressed", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #11590e;
    color: rgb(255, 255, 255);
    background-image: url(../Fotos/fondo_futbol_messi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

header {
    background-color: #023201;
    color: rgb(35, 206, 58);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}

header .menu {
    font-size: 2vw;
    cursor: pointer;
}

header .reservation-link {
    font-size: 1vw;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color: #13f369;
}

main {
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
    gap: 20%;
}

.title {
    text-transform: uppercase;
    font-size: 55px;
    color: #13f369;
}

.left-section h1 {
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 5%;
    font-size: 4vw;
    font-weight: bold;
    color: #13f369;
}


.left-section p {
    font-size: 3vw;
    font-weight: bold;
    color: #ebffe5;
}

.left-section .button:hover {
    background-color: #024401;
}

.right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5f5a5a;
    width: 100%;
    height: auto;
    padding: 3%;
}

.horario {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    background-color: #023201;
}

.horario-info {
    width: 90%;
    max-width: 1200px;
}

.horario-info h2 {
    font-size: 3rem;
    color: #ebffe5;
    font-weight: bold;
    margin-bottom: 30px;
}

.horario-txt {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.txt {
    background-color: #024401;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    color: #ebffe5;
    text-align: left;
}

.txt h4 {
    font-size: 1.5rem;
    color: #a8ff94;
    margin-bottom: 10px;
    text-align: center;
}

.txt p {
    font-size: 1rem;
    margin: 5px 0;
    line-height: 1.6;
    text-align: center;
}

.socials {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.social-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.2s, background-color 0.2s;
}

.social-icon:hover {
    transform: scale(1.2);
}

.social img {
    margin: 8px 0 0 10px;
}

.map {
    filter: grayscale(100) invert(92%) contrast(93%);
    display: block;
}

.footer {
    background-color: #023201;
    color: #ebffe5;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #023201;
    padding: 20px;
    color: white;
}


.footer-left .pelota {
    width: 80px;
    height: auto;
}


.footer-right .seguinos {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.footer-right .redes {
    margin-top: 10px;
}

.footer-right .redes a {
    margin: 0 5px;
}

.footer-right .redes img {
    width: 30px;
    height: auto;
    vertical-align: middle;
}

.footer-right .redes a:hover img {
    opacity: 0.8;
}

.res_cancha, .res_cumpl {
    background-color: #023201;
    color: #13f369;
    padding: 2% 3%;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 1.5vw;
    width: fit-content;
}



@media (max-width: 768px) {
    body {
        background-position: top center;
        background-size: contain;
    }

    .horario-txt {
        grid-template-columns: 1fr;
    }

    .txt h4 {
        font-size: 1.25rem;
        text-align: center;
    }

    .txt p {
        font-size: 0.9rem;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-logo,
    .footer-socials {
        margin-bottom: 10px;
    }

   
}
