
.rubik-distressed-regular {
    font-family: "Rubik Distressed", system-ui;
    font-weight: 400;
    font-style: normal;
  }


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #11590e;
    color: rgb(255, 255, 255);
    background-image: url(../Fotos/fondo_futbol_messi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed ;
}

header {
    background-color: #023201;
    color: rgb(35, 206, 58);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}

header .menu {
    font-size: 2vw;
    cursor: pointer;
}

header .reservation-link {
    font-size: 1vw;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color: #13f369;
}

main {
    background-size: cover; /*Hace que el fondo cubra toda la seccion*/
    background-position: center; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%; /*Incrementa el relleno*/
    gap: 20%; /*Incrementa el espacio entre columnas*/
    /* border-radius: 10px; Redondea las esquinas*/
}

.title {
    text-transform: uppercase;
    font-size: 36px;
    color: #13f369;
}

.left-section h1 {
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding: 5%;
    font-size: 4vw;
    font-weight: bold;
    color: #13f369;
}

.left-section .button {
    background-color: #023201;
    color: #13f369;
    padding: 2% 3%;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 1.5vw;
    width: fit-content;
}

.left-section p {
    font-size: 3vw;
    font-weight: bold;
    color: #ebffe5;
}

.left-section .button:hover {
    background-color: #024401;
}

.right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5f5a5a;
    width: 100%;
    height: auto; /*ajusta dinamicamente la altura*/
    padding: 3%; /*Aniade un relleno alrededor de la imagen*/
}


.horario {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 50px 0px;
    background-color: #023201;
}

.horario-info h2 {
    font-size: 65px;
    color: #ebffe5;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.horario-txt {
    display: flex;
    justify-content: space-evenly;
}

.txt {
    color: #ebffe5;
}

.txt h4 {
    font-size: 18px;
    color: #a8ff94;
    margin-bottom: 30px;
}

.txt p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}

.socials {
    display: flex;
}

.social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid;
    border-radius: 50%;
}

.social:hover {
    background-color: #13f369;
}

.social img {
    margin: 8px 0 0 10px;
}

.map {
    filter: grayscale(100) invert(92%) contrast(93%);
}

.footer {
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
}

.links h4 {
    color: #ebffe5;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.links ul li a {
    color: #ebffe5;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}


.footer {
    padding: 100px 0px;
    display: flex;
    margin-bottom: 25px;
    background-color: #023201;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: space-around;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

.footer-left,
.footer-right {
    background-color: #13f369;
    padding: 10px;
}

@media (max-width: 768px) {
    body{
        background-position: top center;
        background-size: contain;
    }
}