<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complejo Deportivo</title>
    <link rel="stylesheet" href="../static/main_page.css">
</head>
<body>
    <header>
        <!--<div class="menu">☰</div>-->
        <div class="title">Complejo Deportivo</div>
        <!--<a href="{{ url_for('mostrar_reservas') }}" class="reservation-link">Hacer Reserva</a>>-->  
    </header>

    <main>
        <div class="left-section">
            <h1>¡Jugá en nuestras canchas!</h1>
            <div>
                <p>Hacé tu reserva ahora:</p>
                <a href="{{ url_for('mostrar_reservas') }}">
                    <button class="res_cancha">Reservar Cancha</button>
                </a>                
            </div>
            <div>
                <p>Festejá tu cumpleaños con nosotros:</p>
                <a href="https://whatsapp.com" target="_blank">
                    <button class="res_cumpl">Reservar Cumpleaños</button>
                </a>
            </div>
        </div>
    </main>

    <section class="horario">
        <div class="horario-info container">
            <h2>Contacto</h2>
            <div class="horario-txt">
                <div class="txt">
                    <h4>Direccion</h4>
                    <p>Balboa 1250, B8001CLJ Bahía Blanca, Provincia de Buenos Aires</p>
                </div>

                <div class="txt">
                    <h4>Horario</h4>
                    <p>Lun a Vie: 9.00am - 21.00pm</p>
                    <p>Sab y Dom: 9.00am- 13.00pm</p>
                </div>

                <div class="txt">
                    <h4>Telefono</h4>
                    <p>+54 0291 15-427-2601</p>
                </div>

                <div class="txt">
                    <h4>Nuestras redes</h4>
                    <div class="socials">
                        <a href="#">
                            <div class="social">
                                <a href="https://www.facebook.com" target="_blank">
                                    <img src="../Fotos/s1.svg" alt="">
                                </a>
                            </div>
                        </a>

                        <a href="#">
                            <div class="social">
                                <a href="https://www.twitter.com" target="_blank">
                                    <img src="../Fotos/s2.svg" alt="">
                                </a>
                            </div>
                        </a>

                        <a href="#">
                            <div class="social">
                                <a href="https://www.instagram.com" target="_blank">
                                    <img src="../Fotos/s3.svg" alt="">
                                </a>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d99611.56324464855!2d-62.412260972514!3d-38.720992104688435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95edbcabdc1302bd%3A0x76d1d88d241e7a11!2sBah%C3%ADa%20Blanca%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1734641062952!5m2!1ses!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>


    <div class="footer">
        <div class="footer-left">
            <img src="../Fotos/pelota.png" alt="Logo de la pelota" class="pelota">
            <a href="../templates/login.html" alt="Iniciar sesion" class="login">Iniciar sesion</a>
        </div>
        <div class="footer-right">
            <p class="seguinos">Seguinos</p>
            <div class="redes">
                <a href="https://www.facebook.com" target="_blank">
                    <img src="../Fotos/s1.svg" alt="Facebook">
                </a>
                <a href="https://www.twitter.com" target="_blank">
                    <img src="../Fotos/s2.svg" alt="Twitter">
                </a>
                <a href="https://www.instagram.com" target="_blank">
                    <img src="../Fotos/s3.svg" alt="Instagram">
                </a>
            </div>
        </div>
    </div>
    


