<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complejo Deportivo</title>
    <link rel="stylesheet" href="/static/main_page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Distressed&family=Teko:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="menu">☰</div>
        <div class="title rubik-distressed-regular">Canchas del parque</div>
        <a href="#" class="reservation-link">Hacer Reserva</a>
    </header>

    <main>
        <div class="left-section">
            <h1>¡Jugá en nuestras canchas!</h1>
            <div>
                <p>Hacé tu reserva ahora:</p>
                <button class="button" onclick="window.location.href='/reserva';">Seleccionar fecha</button>
            </div>
            <div>
                <p>Festejá tu cumpleaños con nosotros:</p>
                <button class="button">Hacer Reserva</button>
            </div>
        </div>
        <div class="right-section">
            <img src="/static/foto_main.jpg" alt="Foto portada" width="500">
        </div>
    </main>

    <footer>
        <p>Seguinos en nuestras redes sociales:</p>
        <div class="footer-content">
            <div class="footer-left">
                <div class="logo"></div>
                <p>Visítanos:</p>
                <address>
                    Ejemplo dirección<br>
                    Ejemplo ciudad<br>
                    Ejemplo número de teléfono
                </address>
                <p>Contactanos:<br>ejemplo@correo.com</p>
            </div>
            <div class="footer-right">
                <p>Lunes - Viernes<br>11:30 - 14:30, 18:00 - 22:30</p>
                <p>Viernes - Sábados<br>11:00 - 14:00, 18:00 - 22:30</p>
                <p>Domingos<br>11:00 - 14:00</p>
            </div>
        </div>
    </footer>
</body>
</html>